@{
    ViewData["Title"] = "Pile Spillage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<PileSpillage.Models.Question>

<h2>Pile Spillage</h2>
<hr />
@foreach(var question in Model)
{
    <h4>@question.Text</h4>
    <p><small>Asked by @question.Author.UserName</small> <a asp-controller="Question" asp-action="Details" asp-route-id="@question.QuestionId">Details</a><br />@question.Answers.Count answers</p>
    <br />
}